<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trashKitchen | Best pizzas in town</title>

    <link rel="stylesheet" href="/public/images/css/main.css">

</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/pizzas/margarita">Margarita</a>
        <a href="/pizzas/veggie">Veggie</a>
        <a href="/pizzas/seafood">Seafood</a>
        <a href="/contact">Contact</a>
    </nav>

    
{{{body}}}


    <footer>
        &copy; 2023 TechTrash
    </footer>


</body>
</html>